<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg" style="background-image:url('assets/images/page-services-banner.jpg'); background-position: 50% 32%;">
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="index.html">Home</a></li>
				<li class="active">Promociones y Servicios</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Cobertura</h2>
				<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
				<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
					Somos la única estación que mantiene su planta transmisora en el cerro Imbabura, sitio estratégico que permite potencializar la cobertura de forma espectacular y garantizar la señal a toda la provincia de Imbabura y además somos los únicos de entrar con nitidez al sur de la provincia del Carchi, cubriendo el 90% de dicha provincia, y en todo el planeta como: www.oyefm.com
				</p>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->


<!-- main-container start -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
							<span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span>
							<h3>Imbabura 93.1</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
							<span class="icon large dark-bg circle"><i class="fa fa-connectdevelop"></i></span>
							<h3>Esmeraldas 97.1</h3>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
							<span class="icon large default-bg circle"><i class="icon-snow"></i></span>
							<h3>Sto Dgo de los Tsáchilas 91.3</h3>
						</div>
					</div>
				</div>

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->


<!-- section start -->
<!-- ================ -->
<section class="pv-20 padding-bottom-clear clearfix">
	<div class="container">
		<div class="row">
			<table class="table table-bordered table-colored">
				<thead>
					<tr>
						<th>Programa</th>
						<th>Formato</th>
						<th>Contenido</th>
						<th>Horario</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>EL DESPERTADOR</td>
						<td>DIARIO HABLADO</td>
						<td>NOTICIERO Y VARIEDADES</td>
						<td>06:00 A 08:00</td>
					</tr>
					<tr>
						<td>LA SARTEN POR EL MANGO</td>
						<td>MAGAZINE</td>
						<td>TALK SHOW CONDUCIDO POR 4 MUJERES</td>
						<td>8:30 A 12:30</td>
					</tr>
					<tr>
						<td>NON STOP</td>
						<td>MUSICAL</td>
						<td>LO NUEVO, LO MAS ESCUCHADO - SOLO EXITOS</td>
						<td>12:30 A 14:30</td>
					</tr>
					<tr>
						<td>INBOX</td>
						<td>MUSICAL</td>
						<td>PROGRAMA 100% JUVENIL</td>
						<td>14:30 A 18:00</td>
					</tr>
					<tr>
						<td>LOS HP</td>
						<td>MUSICAL</td>
						<td>PROGRAMA 100% ROCK</td>
						<td>18:00 A 20H00</td>
					</tr>
					<tr>
						<td>SIN FORMATO</td>
						<td>MUSICAL</td>
						<td>MUSICAL Y VARIEDADES</td>
						<td>21H00 A 23H00</td>
					</tr>
					<tr>
						<td>NOSTOP</td>
						<td>MUSICAL</td>
						<td>EL TOP DE LA SEMANA Y LO NUEVO</td>
						<td>SÁBADOS Y DOMINGOS</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- pricing tables start -->
		<!-- ================ -->
		<div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
			<div class="row grid-space-10">
				<div class="col-sm-4">
					<!-- pricing table start -->
					<!-- ================ -->
					<div class="plan shadow light-gray-bg bordered">
						<div class="header dark-bg">
							<h3>Basic</h3>
							<div class="price"><span>Free</span></div>
						</div>
						<ul class="">
							<li>1 User</li>
							<li>
								<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15GB Storage" data-trigger="hover">1GB Storage</a>
							</li>
							<li>
								<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15 Email Acounts">1 Email Acounts</a>
							</li>
							<li>Subdomains</li>
							<li>Security</li>
							<li>Bandwidth</li>
							<li>Databases</li>
							<li><a class="btn btn-dark radius-50 btn-animated btn-lg">Subscribe <i class="fa fa-user"></i></a></li>
						</ul>
					</div>
					<!-- pricing table end -->
				</div>
				<div class="col-sm-4">
					<!-- pricing table start -->
					<!-- ================ -->
					<div class="plan shadow light-gray-bg bordered best-value">
						<div class="header default-bg">
							<h3>Premium</h3>
							<div class="price"><span>$19.99</span>/m.</div>
						</div>
						<ul>
							<li>80 Users</li>
							<li>Unlimited Disk Space</li>
							<li>
								<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Unlimited Subdomains">Unlimited Email Acounts</a>
							</li>        
							<li>Subdomains</li>
							<li>Security</li>
							<li>500 Visitors per month</li>
							<li>1 Database</li>
							<li><a class="btn btn-default btn-animated btn-lg radius-50">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<!-- pricing table end -->
				</div>
				<div class="col-sm-4">
					<!-- pricing table start -->
					<!-- ================ -->
					<div class="plan shadow light-gray-bg bordered">
						<div class="header dark-bg">
							<h3>Pro</h3>
							<div class="price"><span>$24.99</span>/m.</div>
						</div>
						<ul>
							<li>Unlimited Users</li>
							<li>Unlimited Disk Space</li>
							<li>Unlimited Email Acounts</li>
							<li>Unlimited Subdomains</li>
							<li>
								<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Enchaned Security">Enchaned Security</a>
							</li>
							<li>Unlimited Bandwidth</li>
							<li>Unlimited Databases</li>
							<li><a class="btn btn-dark btn-animated btn-lg radius-50">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<!-- pricing table end -->
				</div>
			</div>
		</div>
		<!-- pricing tables end -->
	</div>
</section>
<!-- section end -->


<!-- section start -->
	<!-- ================ -->
	<section class="pv-30 background-img-7" style="padding-top: 80px;">
		<div class="container">
			<h2 class="text-center"><strong>Sign Up</strong> Now</h2>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, facere <br> perspiciatis perferendis. Fuga nesciunt quaerat, dignissimos quasi delectus hic commodi sed <br> veritatis tenetur aperiam blanditiis optio praesentium!</p>
			<!-- pricing tables start -->
			<!-- ================ -->
			<div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
				<div class="row grid-space-10">
					<div class="col-sm-3">
						<!-- pricing table start -->
						<!-- ================ -->
						<div class="plan shadow light-gray-bg bordered">
							<div class="header dark-bg">
								<h3>Basic</h3>
								<div class="price"><span>Free</span></div>
							</div>
							<ul class="shadow light-gray-bg">
								<li>1 User</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15GB Storage" data-trigger="hover">1GB Storage</a>
								</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15 Email Acounts">1 Email Acounts</a>
								</li>
								<li>Subdomains</li>
								<li>Security</li>
								<li>Bandwidth</li>
								<li>Databases</li>
								<li><a class="btn btn-dark btn-animated radius-50">Subscribe <i class="fa fa-user"></i></a></li>
							</ul>
						</div>
						<!-- pricing table end -->
					</div>
					<div class="col-sm-3">
						<!-- pricing table start -->
						<!-- ================ -->
						<div class="plan shadow light-gray-bg bordered">
							<div class="header dark-bg">
								<h3>Premium</h3>
								<div class="price"><span>$19.99</span>/m.</div>
							</div>
							<ul class="shadow light-gray-bg">
								<li>80 Users</li>
								<li>Unlimited Disk Space</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Unlimited Subdomains">Unlimited Email Acounts</a>
								</li>        
								<li>Subdomains</li>
								<li>Security</li>
								<li>500 Visitors per month</li>
								<li>1 Database</li>
								<li><a class="btn btn-dark btn-animated radius-50">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<!-- pricing table end -->
					</div>
					<div class="col-sm-3">
						<!-- pricing table start -->
						<!-- ================ -->
						<div class="plan shadow light-gray-bg bordered best-value">
							<div class="header default-bg">
								<h3>Pro</h3>
								<div class="price"><span>$24.99</span>/m.</div>
							</div>
							<ul class="shadow light-gray-bg">
								<li>Unlimited Users</li>
								<li>Unlimited Disk Space</li>
								<li>Unlimited Email Acounts</li>
								<li>Unlimited Subdomains</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Enchaned Security">Enchaned Security</a>
								</li>
								<li>Unlimited Bandwidth</li>
								<li>Unlimited Databases</li>
								<li><a class="btn btn-default btn-animated radius-50">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<!-- pricing table end -->
					</div>
					<div class="col-sm-3">
						<!-- pricing table start -->
						<!-- ================ -->
						<div class="plan shadow light-gray-bg bordered">
							<div class="header dark-bg">
								<h3>Ultimate</h3>
								<div class="price"><span>$45.99</span>/m.</div>
							</div>
							<ul class="shadow light-gray-bg">
								<li>Unlimited Users</li>
								<li>Unlimited Disk Space</li>
								<li>Unlimited Email Acounts</li>
								<li>Unlimited Subdomains</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Enchaned Security">Enchaned Security</a>
								</li>
								<li>Unlimited Bandwidth</li>
								<li>Unlimited Databases</li>
								<li><a class="btn btn-dark btn-animated radius-50">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<!-- pricing table end -->
					</div>
				</div>
			</div>
			<!-- pricing tables end -->
		</div>
		<div class="container">
			<div class="clients-container">
				<div class="clients">
					<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
						<a href="#"><img src="assets/images/client-1.png" alt=""></a>
					</div>
					<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
						<a href="#"><img src="assets/images/client-2.png" alt=""></a>
					</div>
					<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
						<a href="#"><img src="assets/images/client-3.png" alt=""></a>
					</div>
					<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
						<a href="#"><img src="assets/images/client-4.png" alt=""></a>
					</div>
					<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
						<a href="#"><img src="assets/images/client-5.png" alt=""></a>
					</div>
					<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
						<a href="#"><img src="assets/images/client-6.png" alt=""></a>
					</div>
					<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
						<a href="#"><img src="assets/images/client-7.png" alt=""></a>
					</div>
					<div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
						<a href="#"><img src="assets/images/client-8.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section end -->