<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

    <!-- background image -->
    <div class="fullscreen-bg"></div>

    <!-- banner start -->
    <!-- ================ -->
    <div class="pv-40 dark-translucent-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center col-md-offset-2 pv-20">
                    <div class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                        <!-- logo -->
                        <div id="logo" class="logo text-center">
                            <h3 class="margin-clear"><a href="index.html" class="logo-font link-light">The <span class="text-default">Project</span></a></h3>
                        </div>
                        <!-- name-and-slogan -->
                        <p class="small">Multipurpose HTML5 Template</p>
                        <h1 class="page-title text-center">Coming Soon</h1>
                        <div class="separator"></div>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis quod, voluptatum, porro pariatur facere id in unde obcaecati nobis sapiente cupiditate ipsa veniam quam natus voluptate ipsum minima soluta!</p>
                        <ul class="list-inline mb-20 text-center">
                            <li><i class="text-default fa fa-map-marker pr-5"></i>One infinity loop, 54100</li>
                            <li><a href="tel:+00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+00 1234567890</a></li>
                            <li><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>info@theproject.com</a></li>
                        </ul>
                        <!-- countdown start -->
                        <div class="countdown clearfix"></div>
                        <!-- countdown end -->
                        <ul class="social-links circle animated-effect-1 text-center">
                            <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                            <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                            <li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
                        </ul>
                    </div> 
                </div>
            </div>
            <!-- .subfooter start -->
            <!-- ================ -->
            <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Copyright © 2015 The Project by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
            <!-- .subfooter end -->
        </div>
    </div>
    <!-- banner end -->