<!-- banner end -->
<section class="pv-30 background-img-7" style="padding-top: 80px;">
	<div class="container">
		<div class="row">
			<uib-tabset active="active">				    
			    <uib-tab index="0">
			        <uib-tab-heading>
			            <i class="icon-heart pr-10"></i>Despertador
			        </uib-tab-heading>				        
			        <img src="imbabura/podcast/img/despertador.png" alt="">
					<iframe src="http://www.ivoox.com/player_es_podcast_194386_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" >
						</iframe>
			    </uib-tab>
			    <uib-tab index="1">
			        <uib-tab-heading>
			            <i class="fa fa-venus-double"></i> La Sarten Por El Mango
			        </uib-tab-heading>
			        <img src="imbabura/podcast/img/lasarten.png" alt="">
					<iframe src="http://www.ivoox.com/player_es_podcast_161478_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" >
						</iframe>
			    </uib-tab>
			    <uib-tab index="2">
			        <uib-tab-heading>
			            <i class="fa fa-envelope-o"></i> Inbox
			        </uib-tab-heading>
			        <img src="imbabura/podcast/img/inbox.png" alt="">
					<iframe src="http://www.ivoox.com/player_es_podcast_174406_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" >
						</iframe>
			    </uib-tab>
			    <uib-tab index="3">
			        <uib-tab-heading>
			            <i class="fa fa-hand-rock-o"></i> LosHP
			        </uib-tab-heading>
			        <img src="imbabura/podcast/img/loshp.png" alt="">
					<iframe src="http://www.ivoox.com/player_es_podcast_174407_1.html" width="100%" style="border: 1px solid #D7D7D7;" height="440" frameborder="0" allowfullscreen="0" scrolling="no" >
						</iframe>
			    </uib-tab>
			</uib-tabset>				
		</div>
	</div>
</section>
